version: "3.8"

services:
  # =======================================================
  # 1. HẠ TẦNG
  # =======================================================

  # MySQL Server
  mysql-db:
    image: mysql:8.0
    container_name: mysql-server
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME_HR}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-sql:/docker-entrypoint-initdb.d
    networks:
      - officesync_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      start_period: 10s

  # PhpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "9090:80"
    environment:
      PMA_HOST: mysql-db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWORD}
      UPLOAD_LIMIT: 128M
    depends_on:
      mysql-db:
        condition: service_healthy
    networks:
      - officesync_net

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq-server
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - officesync_net
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

  # Redis
  redis:
    image: redis:7-alpine
    container_name: redis-server
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - officesync_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  # =======================================================
  # 2. MICROSERVICES
  # =======================================================

  # CORE SERVICE
  core-service:
    build:
      context: ./core_service
      dockerfile: Dockerfile
    container_name: core-service
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME_HR}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_ROOT_PASSWORD}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}
      - SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASS}
      - SPRING_DATA_REDIS_HOST=redis
    depends_on:
      mysql-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - officesync_net

  # ATTENDANCE SERVICE
  attendance-service:
    build:
      context: ./attendance_service
      dockerfile: Dockerfile
    container_name: attendance-service
    restart: unless-stopped
    ports:
      - "8083:8083"
    environment:
      - SERVER_PORT=8083
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME_HR}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_ROOT_PASSWORD}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}
      - SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASS}
      - SPRING_DATA_REDIS_HOST=redis
    depends_on:
      mysql-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - officesync_net

  # NOTE SERVICE
  note-service:
    build:
      context: ./note_service
      dockerfile: Dockerfile
    container_name: note-service
    restart: unless-stopped
    ports:
      - "8082:8082"
    environment:
      - SERVER_PORT=8082
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME_HR}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_ROOT_PASSWORD}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}
      - SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASS}
      - SPRING_DATA_REDIS_HOST=redis
    depends_on:
      mysql-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - officesync_net

  # AI SERVICE
  ai-service:
    build:
      context: ./ai_service  # Trỏ vào thư mục chứa code Python
      dockerfile: Dockerfile
    container_name: ai-service
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      # Truyền API Key từ file .env gốc
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      # [QUAN TRỌNG] Override URL để gọi nội bộ trong Docker Network
      # Format: http://<tên-container-attendance>:<port-nội-bộ>
      - ATTENDANCE_SERVICE_URL=http://attendance-service:8083/api/attendance
    env_file:
      - .env
    depends_on:
      - attendance-service # Đợi attendance chạy xong mới chạy AI
    networks:
      - officesync_net

  # STORAGE SERVICE
  storage-service:
    build:
      context: ./storage_service
      dockerfile: Dockerfile
    container_name: storage-service
    restart: unless-stopped
    ports:
      - "8090:8090"
    environment:
      - SERVER_PORT=8090
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}
      - SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASS}
    depends_on:
      rabbitmq:
        condition: service_healthy
    volumes:
      - storage_data:/app/img
    networks:
      - officesync_net

  # HR SERVICE
  hr-service:
    build:
      context: ./hr_service
      dockerfile: Dockerfile
    container_name: hr-service
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME_HR}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_ROOT_PASSWORD}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_USERNAME=${RABBITMQ_USER}
      - SPRING_RABBITMQ_PASSWORD=${RABBITMQ_PASS}
      - SPRING_DATA_REDIS_HOST=redis
    depends_on:
      mysql-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - officesync_net

  # NOTIFICATION SERVICE
  notification-service:
    build:
      context: ./notification_service
      dockerfile: Dockerfile
    container_name: notification-service
    restart: unless-stopped
    ports:
      - "8089:8089"
    environment:
      - SERVER_PORT=8089
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME_NOTI}?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_ROOT_PASSWORD}
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_DATA_REDIS_HOST=redis
      - GOOGLE_APPLICATION_CREDENTIALS=${FIREBASE_KEY_PATH}
    depends_on:
      mysql-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ./notification_service/src/main/resources/service-account.json:/app/service-account.json
    networks:
      - officesync_net

# =======================================================
# 3. VOLUMES
# =======================================================
volumes:
  mysql_data:
  rabbitmq_data:
  redis_data:
  storage_data:

networks:
  officesync_net:
    driver: bridge
